# My Jupyter Notebook on IBM Watson Studio- Ranga

<b>Ranga R.</b>
Data Architect

<i>I am interested in data science because Data tells many stories once explored properly with the right tools. Data science tools, techniques and methodologies enable the curious minds to explore the insights and find the right answers</i>

### Important R Functions are evaluated and results are printed on an array

In [12]:
# Create a vector. Ages of 20 persons

iAge <- c(12,7,3,24,32,   18,12,54,21,80,     15,33,26,75,64,    65,23,87,43,09 )

# Find mean Age .
"MEAN or AVERAGE VALUE of Age"
mean(iAge)
# result.mean <-  mean(iAge)

"MEDIAN VALUE of Age"
median( iAge )

"MINIMUM VALUE of Age"
print(min(iAge))


"MAXIMUM VALUE of Age"
print(max(iAge))

[1] "MEAN or AVERAGE VALUE of Age"

[1] 35.15

[1] "MEDIAN VALUE of Age"

[1] 25

[1] "MINIMUM VALUE of Age"

[1] 3

[1] "MAXIMUM VALUE of Age"

[1] 87

 - Bulletedlist1
 - Bulletedlist2 
 - Bulletedlist3
 <HR>horizontal rule <HR>
 1. numbered list1
 2. numbered list2
 3. numbered list3
    
|ID |Name|Age|
|:-----|:----:|----:|
|1 |Adam |33 |
|2 |Don |44 |
    

[Go to IBM HOME PAGE](http://ibm.com) 

<img src="https://orbograph.com/wp-content/uploads/2019/01/DeepLearn.png" alt="Deep Learn" title="Deep Learn" />
    
<div class="alert alert-block alert-info">
<b>Tip:</b> Learn Data science, Tools, Techniques.
</div>
    
~~DO NOT HACK ~~
    
> blockquote text
    
- [x] Jupyter
- [ ] R-studio